extends ../layout

block content   

    h1= title
    h2= "Welcome back: " + users.firstName + " " + users.lastName

    -for(var movie in movies){  
        div.col-md-4(style="word-wrap: break word; background-color: #eff2ea; padding-left:15px; border: 1px solid #000; width:"+movies[movie].Metascore /2 +"%")
            h2= movies[movie].Title
            p= movies[movie].Metascore +" " + " "
            form(method="POST" action='/movies/savevote')
                button.btn.btn-primary(type="submit") STEM
                input(type="hidden", name="title", value=movies[movie].Title)
                input(type="hidden", name="firstname", value=users.firstName)
                input(type="hidden", name="lastname", value=users.lastName)
        br 
        img(src=movies[movie].Poster, alt="", srcset="", style="width:10%;height:10%")
        div
            p=movies[movie].Plot
            p= movies[movie].Actors
            p= movies[movie].Released
    -};